body{
    background-image: url("../images/web-sitesi-banner.jpeg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
}

.aramaIcon {
    background-image: url("../svg/ZERDAVA-WEB-SİTESİ-arama-ikonu.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    width: 40px;
    height: 30px;
}

.searchInput{
    /*display: flex;
    padding: 0px;
    border-width: 0px;*/
    transition: 0.5s;
    max-width: 0px;
}

.aramaIcon:focus ~ .searchInput{
    max-width: 200px;
}

.searchInput:focus{
    max-width: 200px;
}

.scroll-up-div{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 400px;
    width: 500px;
    right: 200px;
    bottom: -400px;
    position: absolute;
    transition: 1s;
    opacity: 70%;
    background-color: #006a68;
    padding: 50px 40px 30px 40px;
    align-items: flex-end;
    text-align: end;
}

.scroll-up-div section{
    font-size: 50px;
    font-weight: 900;
}

.scroll-up-div button{
    width: 120px;
    height: 50px;
    margin-top: 40px;
    margin-left: 280px;
}