* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.body-background{
  
    background-size: cover;
  height: 80vh;
  
      background-image: linear-gradient(to right,#00928A,#04D992,#00928A);  
      box-shadow: inset 5px 1px rgb(63, 61, 63);
 opacity: 100%;
display: flex;
 flex-direction: row;
 align-items: center;

}
.deneme{
    background-image:url('../svg/giriş-sayfasında-fotoğraf-üzeride-kullanılan-desen.svg'); 
    position:absolute;
    width: 80rem;
    height: 90vh;
    background-repeat: no-repeat;

    background-size: cover;
}
.textt{
    color: #FFF;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 18rem;
    font-size: 1.5rem;
    
}
.filigran{
  
   	


 background-image: url('./../svg/sitede-kullanılan-filigran.svg'); 

background-size: cover;
height: 50vh;


}
.card{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: none !important;
    align-items: center;
    gap: 3rem;
}
.cards{
    width: 60%;
    margin: auto;
    border: none !important;
    display: flex;
    flex-direction: column;
    /* gap: 10rem; */
}
.card img{
    border-radius: 2rem;
    object-fit:cover; 
    
}
/* .kalkan{
    background-image:url('../svg/marka-değerlerinde-kullaılan-kalkan.svg');  
    background-repeat: no-repeat;
    background-position:left;
    padding: 5rem;
}  //2 ve 4 fotoalarının arkasına kalkan eklemek için
.kalkan2{
    background-image:url('../svg/marka-değerlerinde-kullaılan-kalkan.svg');  
    background-repeat: no-repeat;
    background-position:right;
 padding: 5rem;
} */
.card p{
    color:#005352;
}

.card h3{
    padding-bottom: 5%;
  color:#005352;
}
.line{
    width: 35rem; margin-bottom: 2%;  border-bottom: 1rem rgb(250, 246, 246) solid;
}
.yusuf{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 600px) {
    
    .filigran{
       background-size: cover;
       height: 10vh;
       }

}
@media screen and (max-width: 1084px) {
    
    .filigran{
       background-size: cover;
       height: 19vh;
       
       }

}
