@font-face {
    font-family: 'Mont-Regular';
    src: url('../fonts/Mont-Regular.otf') format('otf');
}

@font-face {
    font-family: 'Mont-Bold';
    src: url('../fonts/Mont-Bold.otf') format('otf');
}

.mont-regular {
    font-family: 'Mont-Regular';
}

.mont-bold {
    font-family: 'Mont-Bold';
}

:root {
    --footer-main-color: #005152;
    --footer-second-color: #003A37;
}

.footer {
    padding-top: 1rem;
    background-color: var(--footer-main-color);
    color: #fff;
}

.foo {
    height: 25rem;
    color: #fff;
}

.footer-left {
}

.footer-left a {
}

.footer-left a img {
}

.footer-left span {
    font-size: 1.063rem;
}

.footer-left a img {
    width: 8.313rem;
    height: 7.438rem;
    margin-bottom: 2rem;
}

.footer-content a {
    color: #ffffff !important;
}

.footer-social-icon div {
    margin-right: 10rem;
}

.footer-social-icon a img {
    width: 2.5rem;
    height: 2.5rem;
}

.copyright {
    background-color: var(--footer-second-color);
    color: #9EB4B3;
    height: 7.7rem;
    box-shadow: 1px -2px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px -2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px -2px 5px 0px rgba(0, 0, 0, 0.75);
}

.banner-two {
    background-image: url("../images/ZERDAVA_Banner-iki.jpg");
    background-size: 100% 38rem;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
}