@font-face {
    font-family: 'Mont-Regular';
    src: url('../fonts/Mont-Regular.otf') format('otf');
}

.mont-regular {
    font-family: 'Mont-Regular';
}

.mont-bold {
    font-family: 'Mont-Bold';
}

:root {
    --text-main-color: #005152;
}

.new-version {
    background-image: linear-gradient(to right, #75CDA3, #3BB7AC);
}

.new-version p {
    color: black;
    text-overflow: ellipsis;
    display: inline-block;
}

.new-version img {
    display: block;
    width: 30%;
    height: 30%;
}

.filigran {
    background-image: url('../svg/sitede-kullanılan-filigran.svg');
    height: 20vh;
    background-size: cover;
    background-repeat: no-repeat;
}
